<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <!--控制台输出-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <!--展示配置-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--具体格式-->
            <pattern>
                %d - %msg%n
            </pattern>
        </layout>
    </appender>

    <!--文件输出配置_info\error分别输出_每天输出一个文件-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--过滤哪些级别的日志 DENY拒绝并过滤掉 ACCEPT接受 NEUTRAL中立忽略并向下匹配其他-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <!--输出格式-->
            <pattern>
                %d - %msg%n
            </pattern>
        </encoder>
        <!--配置滚动策略 基于时间滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>C:\Users\admin\Desktop\testLog\info\info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--过滤哪些级别的日志-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <!--输出格式-->
            <pattern>
                %d - %msg%n
            </pattern>
        </encoder>
        <!--配置滚动策略 基于时间滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>C:\Users\admin\Desktop\testLog\error\error.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>


    <!--将以上配置项用在哪-->
    <!--日志级别-->
    <root level="info">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileInfoLog"/>
        <appender-ref ref="fileErrorLog"/>
    </root>




    

</configuration>